proxy-groups:
  - name: Proxies
    include-all: true
    type: select
  - name: Auto 
    type: url-test
    include-all: true
    interval: 300
    tolerance: 50
  - name: Telegram
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: OpenAi
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: Gemini
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: YouTube
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: Netflix
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: Bahamut
    type: select
    proxies:
      - TW
      - Proxies
      - Auto
  - name: Bilibili
    type: select
    proxies:
      - DIRECT
      - HK
      - TW
  - name: Microsoft
    type: select
    proxies:
      - Proxies
      - Auto
      - DIRECT
      - HK
      - TW
      - SG
      - JP
      - US
  - name: GlobalMedia
    type: select
    proxies:
      - Proxies
      - Auto
      - HK
      - TW
      - SG
      - JP
      - US
  - name: Apple
    type: select
    proxies:
      - Proxies
      - Auto
      - DIRECT
      - HK
      - TW
      - SG
      - JP
      - US
  - name: HK
    include-all: true
    filter: (?i)港|HK|hk|Hong Kong|HongKong|hongkong
    type: url-test
    interval: 300
    tolerance: 50
  - name: JP
    include-all: true
    filter: (?i)日本|川日|东京|大阪|泉日|埼玉|沪日|深日|JP|Japan
    type: url-test
    interval: 300
    tolerance: 50
  - name: US
    include-all: true
    filter: (?i)美|波特兰|达拉斯|俄勒冈|凤凰城|费利蒙|硅谷|拉斯维加斯|洛杉矶|圣何塞|圣克拉拉|西雅图|芝加哥|US|United States
    type: url-test
    interval: 300
    tolerance: 50
  - name: TW
    include-all: true
    filter: (?i)台|新北|彰化|TW|Taiwan
    type: url-test
    interval: 300
    tolerance: 50
  - name: SG
    include-all: true
    filter: (?i)新加坡|坡|狮城|SG|Singapore
    type: url-test
    interval: 300
    tolerance: 50
rule-providers:
  Google:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Google.list
    path: ./ruleset/Google.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Microsoft:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Microsoft.list
    path: ./ruleset/Microsoft.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Apple:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Apple.list
    path: ./ruleset/Apple.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Telegram:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Telegram.list
    path: ./ruleset/Telegram.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  OpenAi:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/OpenAi.list
    path: ./ruleset/OpenAi.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Gemini:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/Gemini.list
    path: ./ruleset/Gemini.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Steam:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/Steam.list
    path: ./ruleset/Steam.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  YouTube:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/YouTube.list
    path: ./ruleset/YouTube.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Netflix:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/Netflix.list
    path: ./ruleset/Netflix.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Bahamut:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/Bahamut.list
    path: ./ruleset/Bahamut.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  BilibiliHMT:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/BilibiliHMT.list
    path: ./ruleset/BilibiliHMT.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Bilibili:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Ruleset/Bilibili.list
    path: ./ruleset/Bilibili.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  GlobalMedia:
    type: http
    behavior: classical
    url: "https://raw.gitmirror.com/blackmatrix7/ios_rule_script/master/rule/Clash/GlobalMedia/GlobalMedia_Classical_No_Resolve.yaml"
    interval: 86400
    path: ./ruleset/GlobalMedia_Classical_No_Resolve.yaml
  ProxyGFWlist:
    url: https://ghp.ci/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/ProxyGFWlist.list
    path: ./ruleset/ProxyGFWlist.list
    behavior: classical
    interval: 86400
    format: text
    type: http
  Lan:
    type: http
    behavior: classical
    url: "https://raw.gitmirror.com/blackmatrix7/ios_rule_script/master/rule/Clash/Lan/Lan_No_Resolve.yaml"
    interval: 86400
    path: ./ruleset/Lan_No_Resolve.yaml
  ChinaMax:
    type: http
    behavior: classical
    url: "https://raw.gitmirror.com/blackmatrix7/ios_rule_script/master/rule/Clash/ChinaMax/ChinaMax_Classical_No_IPv6_No_Resolve.yaml"
    interval: 86400
    path: ./ruleset/ChinaMax_Classical_No_IPv6_No_Resolve.yaml
rules:
  - "RULE-SET,Microsoft,Microsoft"
  - "RULE-SET,Apple,Apple"
  - "RULE-SET,Telegram,Telegram"
  - "RULE-SET,OpenAi,OpenAi"
  - "RULE-SET,Gemini,Gemini"
  - "RULE-SET,YouTube,YouTube"
  - "RULE-SET,Netflix,Netflix"
  - "RULE-SET,Bahamut,Bahamut"
  - "RULE-SET,BilibiliHMT,Bilibili"
  - "RULE-SET,Bilibili,Bilibili"
  - "RULE-SET,GlobalMedia,GlobalMedia"
  - "RULE-SET,ProxyGFWlist,Proxies"
  - "RULE-SET,Lan,DIRECT"
  - "RULE-SET,ChinaMax,DIRECT"
  - "GEOIP,CN,DIRECT"
  - "MATCH,Proxies"
